.writing h2 {
  margin-top: calc(var(--spacing) * 6);
}
.writing h3 {
  margin-top: calc(var(--spacing) * 4);
}

.writing h2 a,
.writing h3 a {
  text-decoration: none;
}
.writing h2 a::before,
.writing h3 a::before {
  content: "#";
  position: absolute;
  opacity: 0;
  transform: translate3d(calc(-100% - var(--spacing) * 1), 0, 0);
  color: var(--color-mono-05);
  transition-property: opacity;
  transition-timing-function: ease;
  transition-duration: var(--transition-duration-sm);
}
.writing h2:hover a::before,
.writing h3:hover a::before {
  opacity: 1;
}

.writing p,
.writing ul,
.writing ol,
.writing .codeblock {
  margin-bottom: calc(var(--spacing) * 4);
}

.writing ul ul,
.writing ol ol,
.writing ul ol,
.writing ol ul {
  margin-bottom: 0;
}
.writing ul,
.writing ol {
  padding-left: calc(var(--spacing) * 6);
}

.writing ul.toc {
  padding-left: 0;
}
.writing ul.toc li {
  list-style: none;
}
.writing ul.toc a:not(:hover) {
  text-decoration-color: transparent;
}
